*{
    box-sizing: border-box;
}

.header {
    background-color: grey;
}
h1{
    text-align:left;
    font-family: sans-serif;
    margin-left: 15%;
    color: white;
    padding-bottom: 3%;
    width: 100%;
    height: 100%;
    padding-top: 3%;
}

h2 {
   
   
    margin-left: 10px;
}
.search{
    width: 120px;
    margin-left: 5px;  
}

form {
    margin-left: 5px;
    
}

.form-control {
    width: 120px;
}
.row {
    flex-wrap:nowrap;
}
.right-column {
    width: 200px;
}
.city-forecast {
    height:300px;
    overflow: hidden; 
}
.icon {
    width: auto;
    height: 50px;
}
.forecast {
    border-style: solid;
    border-color: grey;
    padding: 0;
    height: 275px;
    width: 90%;
    margin: 10px;
}
.five-day-forecast {
    
    display: flex;
    flex-direction: row;

}
.attribute{
    font-size: 20px;
    
}

.card-body {
    margin: 5px;
    width: 120px;
    padding: 0;
    border-radius: .5em;
    height: auto;
}
.date {
    font-size: 20px;  
    margin-left: 10px;
    margin-top: 10px;  
}

.weather-icon {
    height: auto;
    width: 50px;
}
p{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;

}
